.cars{
    margin: 50px auto;
}
.cars h2{
    text-align: center;
    color: blue;
    font-size: 60px;
    margin-bottom: 20px;
}

.cars span{
    font-weight: 600;
}
.car-card{
    border: 1px solid slateblue;
    background: linear-gradient(rgba(203, 241, 113, 0.151), rgba(94, 227, 245, 0.068));
}
.car-img{
    height: 200px;
}

/* Make it responsive */
@media only screen and (max-width:991px) {
    .cars h2{
        font-size: 30px;
    }
}